body {
    font-size: 12pt;
    font-family: "Segoe UI Light", sans-serif;
    margin: 0;
}
header, footer {
    font-size: 20pt;
    background-color: #6398ff;
    color: blue;
    padding: 20px;
    text-align: center;
}
.columns {
    display: flex;
}
.navigation {
    background-color: burlywood;
    flex: 250px 0 0;
}
.navigation h2 {
    padding: 30px 20px;
}
.navigation li {
    margin: 20px 10px;
}
.navigation li a {
    color: blue;
}
footer {
    padding: 30px;
}
.content {
    padding: 0 0 0 20px;
    flex-grow: 1;
    flex-shrink: 1;
    background: url("image/ball.gif") repeat-y 98%;
}
.content .opacityImageBall {
    background: rgba(255, 255, 255, 0.8);
}
.content h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
}
.content #footballimg {
    height: 280px;
    width: 475px;
    float: left;
    margin: 20px 40px 20px 20px;
}
.content p {
    line-height: 28px;
    margin: 0;
    padding: 5px 5px 20px 5px;
    text-indent: 20px;
}
@media all and (max-width: 800px), all and (max-device-width: 800px) {
    .columns {
        display: inline-block;
    }
    .navigation h2 {
        padding: 10px 10px 0 30px;
        margin: 0;
    }
    .navigation ul {
        margin: 5px;
    }
    .navigation li {
        display: inline-block;
        margin: 10px;
    }
    .content #footballimg {
        float: none;
        width: 85vw;
        height: 420px;
    }
    .content p {
        padding-right: 15px;
        text-align: justify;
    }
}
